# Fechas

In [1]:
import datetime as dt 
yr, mo, dd = 2012, 12, 21
dt.date(yr, mo, dd)

datetime.date(2012, 12, 21)

In [2]:
hr, mm, ss, ms= 12, 21, 12, 21
dt.time(hr, mm, ss, ms)

datetime.time(12, 21, 12, 21)

In [3]:
dt.datetime(yr, mo, dd, hr, mm, ss, ms)

datetime.datetime(2012, 12, 21, 12, 21, 12, 21)

## Atributos

In [4]:
fecha = dt.datetime.now()
print('Minuto',fecha.minute)
fecha.second
fecha.day
fecha.month
fecha.year
print(fecha.weekday())
print(fecha.isoweekday())
print(fecha.isocalendar())

Minuto 36
1
2
datetime.IsoCalendarDate(year=2023, week=19, weekday=2)

## Matemáticas

### Añadir

In [5]:
hoy = dt.datetime.now()
hoy + dt.timedelta(days = 1)
hoy + dt.timedelta(weeks = 1)
#quantlib

datetime.datetime(2023, 5, 16, 8, 36, 32, 827717)

In [6]:
from dateutil.relativedelta import relativedelta
hoy + relativedelta(months=1)
hoy + relativedelta(years=2)

datetime.datetime(2025, 5, 9, 8, 36, 32, 827717)

### Diferencia

In [7]:
yr, mo, dd = 2012, 12, 21
hr, mm, ss, ms= 12, 21, 12, 21
d1 = dt.datetime(yr, mo, dd, hr, mm, ss, ms)
d2 = dt.datetime(yr + 1, mo, dd, hr, mm, ss, ms)
dif = d2-d1
dif #No se convierte a int o float
#str(dif)

datetime.timedelta(days=365)

In [8]:
print(dif.total_seconds()) #Total de segundos de toda la duración
dif.days
#dif.seconds

31536000.0

365

In [9]:
print(dif / dt.timedelta(minutes = 1)) #Minutos 
dif / dt.timedelta(hours = 0.5)
dif / dt.timedelta(days = 1)
cant_semanas = dif / dt.timedelta(days = 7)
cant_semanas

525600.0

52.142857142857146

## Convertir

In [10]:
print(dt.datetime.now().strftime(format = '%d-%m-%y'))
print(dt.datetime.now().strftime(format = '%d-%m-%Y'))
print(dt.datetime.now().strftime(format = '%d-%b-%Y'))
print(dt.datetime.now().strftime(format = '%d-%B-%Y'))

09-05-23
09-05-2023
09-May-2023
09-May-2023

In [11]:
import locale #Módulo 
locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')
dt.datetime.now().strftime(format = '%d-%B-%Y')

'09-mayo-2023'

In [12]:
dt.datetime.strptime("2020 20 02","%Y %d %m")

datetime.datetime(2020, 2, 20, 0, 0)

|Expresión|Significado|
|---------|-----------|
|%a| Día de la semana abreviado|
|%A | Día de la semana largo|
|%w| Día de la semana en número|
|%d|Día con un 0 delante de los menores a 10|
|%-d| Día sin el cero|
|%b| Mes abreviado|
|%B| Mes completo|
|%m| Número de mes|
|%Y|Año completo| 
|%y|Año sin el siglo| 
|%Z| Zona horaria|
|%z| UTC|
|%x| Fecha corta|
|%c|Fecha larga|

In [13]:
dt.datetime.now().strftime(format = '%x')

'09/05/2023'

## Numpy datetime64

In [14]:
import numpy as np
date = np.array(['2015-07-04'], dtype=np.datetime64)
date

array(['2015-07-04'], dtype='datetime64[D]')

In [15]:
date + np.arange(12) #0:11

array(['2015-07-04', '2015-07-05', '2015-07-06', '2015-07-07',
       '2015-07-08', '2015-07-09', '2015-07-10', '2015-07-11',
       '2015-07-12', '2015-07-13', '2015-07-14', '2015-07-15'],
      dtype='datetime64[D]')

In [16]:
dates = np.array(['2013-09-01','2013-09-02'],dtype='datetime64')
#dates + 1
dates + [1,2]

array(['2013-09-02', '2013-09-04'], dtype='datetime64[D]')

In [17]:
dif = date - np.datetime64('2025-05-05')
dif = dates - np.datetime64('2025-05-05')
# No se pueden combinar datetime con datetime64
#dif[0] / dt.timedelta(days = 1)
# int(dif[0] * 2) #Es un objeto, no es un número

## Pandas datetime

In [18]:
import pandas as pd
date = pd.to_datetime("4th of July, 2015") #Entiende por defecto ciertas expresiones
#"Y-m-d" 20200202
date

Timestamp('2015-07-04 00:00:00')

In [19]:
date + pd.to_timedelta(np.arange(12), 'H') #Antes

DatetimeIndex(['2015-07-04 00:00:00', '2015-07-04 01:00:00',
               '2015-07-04 02:00:00', '2015-07-04 03:00:00',
               '2015-07-04 04:00:00', '2015-07-04 05:00:00',
               '2015-07-04 06:00:00', '2015-07-04 07:00:00',
               '2015-07-04 08:00:00', '2015-07-04 09:00:00',
               '2015-07-04 10:00:00', '2015-07-04 11:00:00'],
              dtype='datetime64[ns]', freq=None)

In [20]:
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04','2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
data

2014-07-04    0
2014-08-04    1
2015-07-04    2
2015-08-04    3
dtype: int64

In [21]:
data['2014-07-04':'2015-07-04']

2014-07-04    0
2014-08-04    1
2015-07-04    2
dtype: int64

In [22]:
#data['2015-06':'2015-07']
data['2015']

2015-07-04    2
2015-08-04    3
dtype: int64

In [23]:
#dates.to_period('D')
#dates - dates[0]

In [24]:
pd.date_range('2015-07-03','2018-08-09')

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-11', '2015-07-12',
               ...
               '2018-07-31', '2018-08-01', '2018-08-02', '2018-08-03',
               '2018-08-04', '2018-08-05', '2018-08-06', '2018-08-07',
               '2018-08-08', '2018-08-09'],
              dtype='datetime64[ns]', length=1134, freq='D')

In [25]:
pd.date_range('2015-07-03','2018-08-09',periods=15)

DatetimeIndex([          '2015-07-03 00:00:00',
               '2015-09-21 22:17:08.571428571',
               '2015-12-11 20:34:17.142857142',
               '2016-03-01 18:51:25.714285712',
               '2016-05-21 17:08:34.285714284',
               '2016-08-10 15:25:42.857142856',
               '2016-10-30 13:42:51.428571424',
                         '2017-01-19 12:00:00',
               '2017-04-10 10:17:08.571428568',
               '2017-06-30 08:34:17.142857136',
               '2017-09-19 06:51:25.714285712',
               '2017-12-09 05:08:34.285714288',
               '2018-02-28 03:25:42.857142848',
               '2018-05-20 01:42:51.428571424',
                         '2018-08-09 00:00:00'],
              dtype='datetime64[ns]', freq=None)

In [26]:
pd.date_range('2015-07-03',periods=15)

DatetimeIndex(['2015-07-03', '2015-07-04', '2015-07-05', '2015-07-06',
               '2015-07-07', '2015-07-08', '2015-07-09', '2015-07-10',
               '2015-07-11', '2015-07-12', '2015-07-13', '2015-07-14',
               '2015-07-15', '2015-07-16', '2015-07-17'],
              dtype='datetime64[ns]', freq='D')

In [27]:
#Cierre de mes
#pd.date_range('2015-07-03',freq='6M',periods=6)
#pd.date_range('2015-07-03',freq='6M',periods=6,normalize=True)
pd.date_range('2015-07-03',freq='Y',periods=6)

DatetimeIndex(['2015-12-31', '2016-12-31', '2017-12-31', '2018-12-31',
               '2019-12-31', '2020-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [28]:
#quantlib
from pandas.tseries.offsets import BDay
pd.date_range('2015-07-01', periods=5, freq=BDay())

DatetimeIndex(['2015-07-01', '2015-07-02', '2015-07-03', '2015-07-06',
               '2015-07-07'],
              dtype='datetime64[ns]', freq='B')

|Código|Descripción|
|------|-----------|
|D|Día calendario|
|B| Día hábil|
|W| Semana|
|M|Fin de mes|
|BM|Fin de mes laboral|
|Q(BQ)|Trimestre|
|A(BA)|Año|
|H(BH)|Hora|

**Ejemplo**: valoración de un bono.
- Pagan semianualmente, con un cupón del 3%.
- Fue emitido el 21/5/2022. Finaliza el 21/5/2028 (6 años). Se quiere valorar al 1/1/2023.
- Tasa de interés del 5% (anualizada).

$$\sum_{j=1}^n \dfrac{100c/p}{(1+r/p)^{t_j*p/365}} + \dfrac{100}{(1+r/p)^{t_n*p/365} }$$

- $c$: tasa del cupón.
- $p$: periodicidad del pago. Semestral = 2. 
- $r$: tasa de interés.
- $t_j$: cantidad de días transcurridos desde la fecha de la valoración hasta el pago del cupón.

In [29]:
#Fechas
issue_date = pd.to_datetime('21/5/2022',format='%d/%m/%Y') #Emite
settle_date = pd.to_datetime('01/01/2023',format='%d/%m/%Y') #Settle
maturity_date = pd.to_datetime('21/5/2028',format='%d/%m/%Y') #Termina

dif_semestres = (maturity_date - issue_date).days
cant_semestres = np.ceil(dif_semestres/(6*30))
print(dif_semestres)
print(cant_semestres)

2192
13.0

In [30]:
#Cantidad de semestres
fecha_cupon = pd.Series([issue_date + relativedelta(months = 6*int(i)) for i in range(1,int(cant_semestres))])
#Filtro
fecha_cupon = fecha_cupon[fecha_cupon >= settle_date]
fecha_cupon

1    2023-05-21
2    2023-11-21
3    2024-05-21
4    2024-11-21
5    2025-05-21
6    2025-11-21
7    2026-05-21
8    2026-11-21
9    2027-05-21
10   2027-11-21
11   2028-05-21
dtype: datetime64[ns]

In [31]:
bono = pd.DataFrame({'fecha_cupon': fecha_cupon})
bono['dias_descontar'] = (bono['fecha_cupon'] - settle_date).dt.days 
bono

   fecha_cupon  dias_descontar
1   2023-05-21             140
2   2023-11-21             324
3   2024-05-21             506
4   2024-11-21             690
5   2025-05-21             871
6   2025-11-21            1055
7   2026-05-21            1236
8   2026-11-21            1420
9   2027-05-21            1601
10  2027-11-21            1785
11  2028-05-21            1967

In [32]:
bono['semestre_descontar'] = bono['dias_descontar'] / 365 * 2 
bono = bono.assign(cupon = 0.03/2) #Tasa del cupón viene anualizada

bono['cupon'].iloc[len(bono['cupon'])-1] += 1 # Al final pago el principal
bono

C:\Users\josea\AppData\Local\Temp\ipykernel_10684\842968528.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bono['cupon'].iloc[len(bono['cupon'])-1] += 1 # Al final pago el principal

   fecha_cupon  dias_descontar  semestre_descontar  cupon
1   2023-05-21             140            0.767123  0.015
2   2023-11-21             324            1.775342  0.015
3   2024-05-21             506            2.772603  0.015
4   2024-11-21             690            3.780822  0.015
5   2025-05-21             871            4.772603  0.015
6   2025-11-21            1055            5.780822  0.015
7   2026-05-21            1236            6.772603  0.015
8   2026-11-21            1420            7.780822  0.015
9   2027-05-21            1601            8.772603  0.015
10  2027-11-21            1785            9.780822  0.015
11  2028-05-21            1967           10.778082  1.015

In [33]:
#Descuento del 5%. Convertible semestralmente. 
bono['descuento'] = (1 + 0.05/2) ** - bono['semestre_descontar']

bono['flujo'] = 100 * bono['cupon'] * bono['descuento']

bono['flujo'].sum()

90.9838465314963

In [34]:
#Uso de días laborales
print(pd.date_range('2015-07-03',freq='BM',periods=6))
print(pd.date_range('2015-07-03',freq='BA',periods=6))

DatetimeIndex(['2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30',
               '2015-11-30', '2015-12-31'],
              dtype='datetime64[ns]', freq='BM')
DatetimeIndex(['2015-12-31', '2016-12-30', '2017-12-29', '2018-12-31',
               '2019-12-31', '2020-12-31'],
              dtype='datetime64[ns]', freq='BA-DEC')